* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  height: 255vh;
}

header {
  height: 20vh;
  background-color: blue;
}

nav {
  height: 20vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 2fr;
  grid-template-areas:
    "primerNav"
    "segundoNav";
}

/* PRIMER NAV */

#primerNav {
  grid-area: primerNav;
  background-color: rgba(183, 183, 183, 0.452);
  display: grid;
  grid-template-areas: "logoMJ vacio vacio vacio  vacio vacio vacio vacio seccionesUno";
}

#logoMJ {
  grid-area: logoMJ;
  display: grid;
  justify-content: center;
  align-items: center;
}

#logoMJ img {
  height: 50px;
}

#seccionesUno {
  grid-area: seccionesUno;
  font-size: 0.8rem;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1 fr;
  grid-template-areas: "buscarTienda ayuda unete iniciar";
  text-align: center;
}

#buscarTienda {
  grid-area: buscarTienda;
}
#ayuda {
  grid-area: ayuda;
}

#unete {
  grid-area: unete;
}

#iniciar {
  grid-area: iniciar;
}

/* SEGUNDO NAV */

#segundoNav {
  background-color: white;
  grid-area: segundoNav;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logoNike seccionesDos busqueda";
}

#logoNike {
  grid-area: logoNike;
  display: grid;
  padding-right: 90px;
  align-items: center;
  justify-content: center;
}

#seccionesDos {
  grid-area: seccionesDos;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "lanzamientos seccionHombre seccionMujer rebajas seccionTenis";
  text-align: center;
}

#lanzamientos {
  grid-area: lanzamientos;
}
#seccionHombr {
  grid-area: seccionHombre;
}
#seccionMujer {
  grid-area: seccionMujer;
}
#rebajas {
  grid-area: rebajas;
}
#seccionTenis {
  grid-area: seccionTenis;
}

#busqueda {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr, repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "busquedaBoton logoCorazon";
  text-align: center;
  font-size: 0.8rem;
}

#busquedaBoton {
  grid-area: busquedaBoton;
}

#busquedaBoton input {
  width: 60%;
  border: 1px solid black;
}

#logoCorazon {
  grid-area: logoCorazon;
  padding-right: 40px;
}

/* #logoCorazon:hover > div:not(.carrito-item) {
  padding-top: 20px;
  display: block;
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0;
  top: 150px;
  background-color: white;
  border: 1px solid black;
  transform: scale(1.1);
  z-index: 2;
} */

/* IMAGEN DE BIENVENIDA */
main {
  height: 220vh;
}

#list-example {
  display: grid;
  justify-content: center;
  padding-top: 10px;
}

#list-example a {
  width: 200px;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.311);
}

#carritoBloque {
  border: 1px solid black;
  width: 200px;
  display: grid;
  justify-content: center;
}

/* .hidden {
  display: none;
} */

#productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "producto1 producto2 producto3"
    "producto4 producto5 producto6"
    "producto7 producto8 producto9";
  text-align: center;
  grid-column-gap: 30px;
  padding-right: 30px;
}

#productos div p {
  height: 0.8rem;
}

#productos img {
  width: 100%;
  padding-bottom: 10px;
}

#producto1 {
  grid-area: producto1;
}

#producto1 button {
  position: absolute;
  top: 66%;
  right: 64.5%;
  height: 2.2rem;
  width: 180px;
  border-radius: 20px;
}

#productos button:hover {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

#producto2 {
  grid-area: producto2;
}

#producto2 button {
  position: absolute;
  top: 66%;
  right: 36.5%;
  height: 2.2rem;
  width: 180px;
  border-radius: 20px;
}

#producto3 {
  grid-area: producto3;
}

#producto3 button {
  position: absolute;
  top: 66%;
  right: 9%;
  height: 2.2rem;
  width: 180px;
  border-radius: 20px;
}

#producto4 {
  grid-area: producto4;
  padding-top: 20px;
}

#producto4 button {
  position: absolute;
  top: 142%;
  right: 64.5%;
  height: 2.2rem;
  width: 180px;
  border-radius: 20px;
}

#producto5 {
  grid-area: producto5;
  padding-top: 20px;
}

#producto5 button {
  position: absolute;
  top: 142%;
  right: 36.5%;
  height: 2.2rem;
  width: 180px;
  border-radius: 20px;
}

#producto6 {
  grid-area: producto6;
  padding-top: 20px;
}

#producto6 button {
  position: absolute;
  top: 142%;
  right: 9%;
  height: 2.2rem;
  width: 180px;
  border-radius: 20px;
}

#producto7 {
  grid-area: producto7;
  padding-top: 20px;
}

#producto7 button {
  position: absolute;
  top: 217%;
  right: 64.5%;
  height: 2.2rem;
  width: 180px;
  border-radius: 20px;
}

#producto8 {
  grid-area: producto8;
  padding-top: 20px;
}

#producto8 button {
  position: absolute;
  top: 217%;
  right: 36.5%;
  height: 2.2rem;
  width: 180px;
  border-radius: 20px;
}

#producto9 {
  grid-area: producto9;
  padding-top: 20px;
}

#producto9 button {
  position: absolute;
  top: 217%;
  right: 9%;
  height: 2.2rem;
  width: 180px;
  border-radius: 20px;
}

/* FOOTER */
footer {
  height: 35vh;
  background-color: black;
  color: white;
}

#informacionFooter {
  height: 20vh;
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "primeraColumna segundaColumna terceraColumna logosFooter logosFooter";
  align-self: center;
}

#primeraColumna {
  grid-area: primeraColumna;
  display: grid;
  align-content: stretch;
}
#segundaColumna {
  grid-area: segundaColumna;
  display: grid;
}

#terceraColumna {
  grid-area: terceraColumna;
  display: grid;
}

#logosFooter {
  grid-area: logosFooter;
  display: flex;
  justify-content: space-evenly;
}

#copyRight {
  height: 15vh;
  display: grid;
  align-items: center;
}

#copyRightUno {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
